@import '_reset.less';
@import '_elements.less';
@import '_styles.less';

// BASE STYLES
// ---------------------------
	@import '_base.less';

	// Modal window overlay
	#lean_overlay {
		position: fixed;
		z-index:100;
		top: 0px;
		left: 0px;
		height:100%;
		width:100%;
		background: #000;
		display: none;
	}

// LAYOUT
// ---------------------------
	.container{
		margin: 0 auto;
		max-width: 1000px;
		min-width: 250px;
		width: 92%;
	}

// HEADER & NAVBAR
// ---------------------------
	.nav{
		.no-style-list();
		font-family: @sansFont;

		li{
			.inline-block();
			font-size: 0.8em;

			&:after{
				content: "//";
				margin: 0 0.5em;
			}
			&:last-child:after{
				content: none;
				margin: 0;
			}
		}
		a{
			font-family: @sansFont;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}

	.site-header{
		border-bottom: 1px solid lighten(@gray, 50%);
		padding: 1em 0;
		color: @headerColor;

		a{
			color: @headerColor;

			&:hover{
				text-decoration: none;
				color: darken(@headerColor, 20%);
			}
		}

		.home-link,
		.nav{
			.inline-block();
			vertical-align: middle;
		}

		.nav{
			float: right;
		}
	}
	.home-link{
		margin: 0;
		font-size: 1.2em;
		line-height: 0.5;
		padding-top: 3px;

		.yellow,
		.green,
		.blue,
		.pink{
			display: none;
		}
		.pink{
			color: @orange;
		}
		.yellow{
			color: @yellow;
		}
		.green{
			color: @green;
		}
		.blue{
			
			color: @blue;
		}
	}


// FOOTER
// ---------------------------
	.site-footer{
		padding: 6em 0 0.5em;
		text-align: center;
		color: @footerColor;

		a{
			color: @footerColor;

			&:hover{
				color: darken(@footerColor, 30%);
			}
		}

		.tooltip{
			position:absolute;
			bottom: 4.2em;
			left:50%;
			margin-left: -7.2em;
			font-size:0.9em;
			line-height: 1.4;
			border-radius:5px;
			background-color: darken(@footerColor, 30%);
			color: darken(white, 10%);
			text-align:left;
			width:15em;
			display: none;

			&:after{
				content:'.';
				border-color: darken(@footerColor, 30%) transparent transparent transparent;
				border-style: solid;
				border-width: 10px;
				height: 0;
				right: 20px;
				position: absolute;
				bottom: -20px;
				width: 0;
				color: transparent;
				right:auto;
				left:20px;
			}

			p{
				font-size:1.05em;
				margin: 1em;
			}
			strong{
				font-size:0.9em;
				margin-top:0.3em;
			}
		}
	}
	.social-links{
		.no-style-list();
		position: relative;

		li{
			.inline-block();
		}

		a{
			text-decoration: none;
			font-size: 2.8em;

			&:hover{
				text-decoration: none;
			}
		}
	}
	.copyright{
		font-family: @sansFont;
		font-size: 0.8em;
		text-transform: uppercase;
	}


// CONTENT
// ---------------------------
	.site-content{
		line-height: 1.5;
		padding: 5em 0;
		min-height: 30em;
	}
	.section-heading{
		text-align: center;
		margin-bottom: 3em;
		line-height: 1;
	}


// HOME
// ---------------------------
	.home {

		.site-header{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 20;
			.opacity(0.95);
			.dark-header();
		}

		.intro{
			background: @homeColor;
			text-align: center;
			position: relative;
			min-height: 400/unit(@baseFontSize,em);

			.container{
				padding: 1em 0;
			}
			p{
				font-size: 6.5em;
				line-height: 1;
				margin: 0 0 0.4em;
				font-weight: 400;
				color:fadeout(white, 5%);

				span{
					font-size: 0.7em;
					vertical-align: middle;
					//font-weight: 700;
					//font-style: italic;
				}
			}
			.nav{
				li{
					font-size: 1.2em;
					color: fadeout(@darkTextColor, 30%);
				}
				a{
					color: fadeout(@darkTextColor, 30%);
					&:hover{
						color: fadein(@darkTextColor, 25%);
						text-decoration: none;
					}
				}
			}
		}
		.scroll-down{
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -6em;
			height: 6em;
			width: 12em;
			.border-radius(12em, 0, 0, 12em);
			background: @bodyBackground;
			cursor: pointer;
			text-align: center;

			.symbol{
				font-size: 7.5em;
				font-weight: 700;
				line-height: 0.5;
				color: @lightGray;
			}

			&:hover{
				background: @darkBlue;

				span{
					color: @bodyBackground;
				}
			}
		}

		.projects,
		.about{
			padding-top: 6em
		}
		.projects{
			padding-bottom: 10em;
			/*
			.project-info{
				font-family: @sansFont;
				line-height: 1.3;
				background: @darkBlue;
				color: @lightTextColor;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				display: none;

				.project-description{
					margin: 1.8em 2em;
					text-align: left;
				}
			}
			*/
		}
		.project{
			position: relative;
			.grid-block (4);
			text-align: center;
			height: 18em;
			padding-top: 4.5em;

			//border: 1px solid #ccc;

			h3{
				font-size: 1.3em;
			}
			a{
				color: @darkTextColor;
			}
		}
		.project-info{
			display: none;
			background: @bodyBackground;
			margin: 0 auto; 
			width: 92%;
			max-width: 1000px;
			max-height: 70%;
			padding: 1em;
			overflow-y: scroll;
		}
		.project-preview{
			.grid-block (8);
			vertical-align: middle;
		}

		.project-description{
			.grid-block (4);
			margin-left: 1em;
			vertical-align: middle;

			p{
				line-height: 1.4;
			}
		}
		.project-links{

			.btn{
				.buttons (white, @homeColor);

				&:hover{
					background: @darkBlue;
					border-color: @darkBlue;
				}
			}
		}

		.about{
			.dark-content();
			padding-bottom: 5em;

			.text{
				.grid-margin(8,2);
				font-size: 1.15em;
				line-height: 1.5;
			}
		}
		.site-footer{
			.dark-footer();

			a:hover{
				color:@homeColor;
			}
		}
	}


// NOTES
// ---------------------------


// CONTACT
// ---------------------------
	.contact{
		.dark-body();

		a{
			.link(@contactColor);
		}
		.site-header{
			.dark-header();
		}

		form{
			.grid-margin(8,2);

			ol{
				background: fadeout(white, 90%);
				padding:1em;
				position: relative;

				&:after{
					content:'.';
					color:transparent;
					display:block;
					border-color: fadeout(white, 90%) transparent transparent transparent;
					border-style: solid;
					border-width: 10px;
					height: 0;
					left:50%;
					margin-left:-10px;
					position: absolute;
					bottom: -20px;
					width: 0;
				}
			}
			li{
				.no-style-list();
				margin-bottom: 0.5em;
			}
			label {
				margin-bottom: 0.3em;
				font-family: @sansFont;
				font-size:0.95em;
				text-transform:uppercase;
				font-weight: bold;
			}
			.input-field{
				position: relative;
				display: block;
			}
			.input-field input,
			.input-field textarea{
				width: 100%;
				text-transform: @sansFont;
				border:1px solid @lightGray;
				background: darken(white, 10%);
				padding: 0.4em 0.5em;
				font-size: 0.9em;
				color: @darkTextColor;
			}
			.required{
				font-size:1em;
				color:@pink;
				position:absolute;
				top:50%;
				right:0.5em;
				margin:-0.75em 0 0;
			}
			.message {
				.required{
					top:0.25em;
					margin:0;
				}
				.input-field textarea{
					padding-right: 1.5em;
				}
			}
			.send-email{
				text-align: center;

				.btn{
					.buttons(white, @contactColor);
				}
			}
		}

		.text{
			.grid-margin(8,2);
			font-size: 1.15em;
			line-height: 1.5;
		}

	}


// RESPONSIVE
// ---------------------------
@import '_responsive.less';
