/* BASE
 * -------------------------
 * - Base
 * - Content
 * - Links
 * - Headings
 * - Lists
 * - Navs
 */


// BASE
// ---------------------------
	* {
		.box-sizing(border-box);
	}
	html{
		font-size: @baseFontSize;
	}
	html, body{
		height: 100%;
		margin: 0;
		padding: 0;
	}
	body {
		background: @bodyBackground;
		color: @textColor;
		font-family: @baseFontFamily;
		font-size: 100%;
		line-height: @baseLineHeight;
		width: 100%;
		-webkit-font-smoothing: antialiased;
	}


// CONTENT
// ---------------------------
	img {
		max-width: 100%;
		height: auto;
	}
	p {
		margin-bottom: 1em;
	}
	.hidden{
		display: none;
	}

// LINKS
// ---------------------------
	a {
		.transition(~"all 0.3s ease");
		color: @linkColor;
		text-decoration: none;

		&:hover,
		&:focus{
			color: @linkColorHover;
			text-decoration: underline;
		}
	}


// HEADINGS
// ---------------------------
	h1, h2, h3, h4, h5, h6 {
		margin: (@baseLineHeight / 2) 0;
		line-height: @baseLineHeight;
		text-rendering: optimizelegibility;
	}

	h1,
	h2,
	h3 { line-height: @baseLineHeight * 2; }

	h1 { font-size: @baseFontSize * 2.75; }
	h2 { font-size: @baseFontSize * 2.25; }
	h3 { font-size: @baseFontSize * 1.75; }
	h4 { font-size: @baseFontSize * 1.25; }
	h5 { font-size: @baseFontSize; }
	h6 { font-size: @baseFontSize * 0.85; }


// LISTS
// ---------------------------
	dl, ol, ul { margin-bottom: @baseLineHeight;}
	li{ list-style-position: inside; }


// NAVS
// ---------------------------
	.nav{
		.no-style-list;

		li{ .inline-block; }
	}

