<div id="about-info" class="panel about-panel">

	<div class="container">
		<h2>Hello, I'm Sonia!</h2>

		<p>I'm a UI/UX Designer &amp; Frontend Developer, based in Porto, Portugal.</p>

		<p>I have a background in <strong>Graphic Design</strong> and thinking of Interfaces and Interactions is what I like the most. I also have experience with <strong>Frontend Development</strong> (HTML5, CSS3 and JavaScript) combined with basic knowledge of PHP and Python for the web.</p>

		<p>All this means I can turn your ideas into pretty interactive things.</p>

		<p class="site-info">This website was built with <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="https://github.com/soniacs/soniacs" target="_blank">Dark Magic</a> and (=^.^=)</p>
	</div>
</div>