<nav class="site-navbar">
	<a href="" class="sidebar-link"><span class="icon-menu"></span></a>

	<ul class="nav main-nav">
		<li class="home-link"><a href="{{ url_for('index') }}" class="load-page previous-page">Home</a></li>
		<li class="about-link"><a href="" data-open-panel="about-info">About</a></li>
		<li class="contact-link"><a href="" data-open-panel="contact-info">Contact</a></li>
	</ul>

	<ul class="nav pagination-nav">
		<li class="pagination-previous{% if not previous_page %} hidden{% endif %}"><a href="{{ url_for('page', path = previous_page.path) }}" class="load-page previous-page"><span class="icon-left"></span></a></li>
		<li class="pagination-next{% if not next_page %} hidden{% endif %}"><a href="{{ url_for('page', path = next_page.path) }}" class="load-page next-page"><span class="icon-right"></span></a></li>
	</ul>
</nav>