<ul class="nav">
	<li><a href="{{ url_for('index') }}" class="about-link">About</a></li>
	<li><a href="{{ url_for('index') }}" class="projects-link">Projects</a></li>
	{# <li><a href="{{ url_for('notes') }}" class="notes-link">Notes</a></li> #}
	<li><a href="{{ url_for('contact') }}" class="contact-link">Contact</a></li>
</ul>